# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/bioconda/linux-64/biopython-1.68-py35_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bowtie-1.1.2-py35_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bwa-0.7.15-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cffi-1.8.3-py35_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/clark-1.2.3-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cryptography-1.5.3-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/docutils-0.12-py35_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/dropbox-5.2.1-py35_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/fastqc-0.11.5-1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/filechunkio-1.6-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/freetype-2.5.5-1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/ftputil-3.2-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/idna-2.1-py35_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/java-jdk-8.0.92-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jbig-2.1-0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/jellyfish-1.1.11-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jpeg-8d-2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/kraken-0.10.6_eaf8fb68-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libffi-3.2.1-0.tar.bz2
https://conda.anaconda.org/r/linux-64/libgcc-4.8.5-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libpng-1.6.22-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libtiff-4.0.6-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/mkl-11.3.3-0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/mmtf-python-1.0.2-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/msgpack-python-0.4.8-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/numpy-1.11.2-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/openssl-1.0.2j-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/paramiko-2.0.2-py35_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/pear-0.9.6-1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/perl-threaded-5.22.0-10.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pillow-3.4.2-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pip-9.0.1-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyasn1-0.1.9-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pycparser-2.17-py35_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/pysftp-0.2.8-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-3.5.2-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyyaml-3.12-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/readline-6.2-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/reportlab-3.3.0-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/requests-2.11.1-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/setuptools-27.2.0-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/six-1.10.0-py35_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/snakemake-3.8.2-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sqlite-3.13.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/tk-8.5.18-0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/trimmomatic-0.36-3.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/urllib3-1.12-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/wheel-0.29.0-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/wrapt-1.10.8-py35_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/xz-5.2.2-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/yaml-0.1.6-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/zlib-1.2.8-3.tar.bz2
